@use "base/mixins" as m;
@use "base/variables" as v;

.header_contacto {
  display: grid;
  grid-template-columns: 30% 35% 14% 14%;
  background-color: v.$grisOscuro;
  
}
.contacto-logo {
  max-width: 300px;
  

}
.celular_contacto {
  margin: 0;
  margin-top: 0.4rem;
}

.ordenar_contacto{
  display: grid;
  grid-template-rows: repeat(3, 40px);
  margin-top: 1rem;
  justify-items: end;
  padding-right: 0.8rem;
  

  
}
.orden_info {
    display:grid;
    grid-template-rows: repeat(3, 40px);
    justify-items:auto;
    color: v.$blanco;
    font-size: 1.8rem;
    
    
  }
.celular_contacto, .mail_contacto {
  max-width: 30px;
}
.ubicacion {
  max-width: 25px;
}


h1 {
  color: v.$blanco;
  margin: 1rem;
  padding: 0;
  transform: translateX(-50%) translateY(18%);
}

h4 {
  font-size: 1.2rem;
}
h5 {
  margin-top: 1.6rem;
}


.imagen_contacto {
    max-width: 90%;
    padding-left: 5rem;
    transform: translateX(12%);
    margin: 3rem;
    margin-bottom: 3rem;
    margin-top: 15rem;
  }

.formulario {
  max-width: 90%;
  padding: 5rem;
  
  
  legend {
    font-size: 2rem;
    color: v.$grisOscuro;
  }

  label {
    text-transform: uppercase;
    display: block;
    margin-left: 1rem;
  }
  input:not([type="submit"]),
  textarea{
    padding: 1rem;
    display: block;
    width: 100%;
    border: 1px solid;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

}

.boton-enviar {
  display: block;
  font-family: v.$fuente_principal;
  color: v.$blanco;
  text-align: center;
  padding: 1rem 1rem;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  border-radius: 2px;
  background-color: v.$amarillo;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
}

//TELEFONO

.contacto-logo {
  @include m.telefono {
    transform: translateX(20%);
  }
}

.header_contacto {
  @include m.telefono {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
  }
}
.ordenar_contacto {
  @include m.telefono {
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: none;
    justify-items: left center right;
    transform: translateX(-12%);
    
  }
}

.orden_info {
  @include m.telefono {
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: none;
    width: 100%;
    margin-left: -1rem;
    transform: translateX(6%);
  }
}


H1 {
  @include m.telefono {
    font-size: 3rem;
    transform: translateX(-2%);
  }
}
.formulario {
  @include m.telefono {
    padding: 0.5rem;
    transform: translateX(4%);
  }
}
.imagen_contacto {
  @include m.telefono {
    width: 100%;
     transform: translateX(-1%);
     margin: 2rem;
  }
}

//TABLET

.contacto-logo {
  @include m.tablet {
    transform: translateX(10%);
    margin-top: 1rem;
  }
}

.header_contacto {
  @include m.tablet {
    display: grid;
    grid-template-columns: 30% 35% 14% 14%;
    background-color: v.$grisOscuro;
  }
}

.ordenar_contacto {
  @include m.tablet {
    display:grid;
    grid-template-rows: 36% 33% 33%;
    grid-template-columns: 33%;
    transform: translateX(85%);
    
    
  }
}

H1 {
  @include m.tablet {
    font-size: 4rem;
    transform: translateX(-5%) translateY(15%);
     
  }
}
.imagen_contacto {
  @include m.tablet {
    width: 90%;
    transform: translateX(12%);
    padding-left: 0;
    margin:2rem;
    
}
}
.orden_info {
 @include m.tablet {
  display:block;
  transform: translateX(40%);
 }
}
//DESKTOP
H1 {
  @include m.desktop {
    font-size: 5rem;
    transform: translateX(-20%) translateY(18%);
    
  }
}
.imagen_contacto {
  @include m.desktop {
    width: 90%;
    
  }
}

.orden_info {
 @include m.desktop {
  display:block;
  transform: translateX(40%);
 }
}
.ordenar_contacto {
  @include m.desktop {
    transform: translateX(87%);
  }
}