@use "variables" as v;
html {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background-color: v.$blanco;
  margin: 0;
  padding: 0;
  overflow-x:hidden;

  
}

a {
  text-decoration: none;
  font-size: 2rem;

}

h2 {
  
  font-size: 4rem;
  color: v.$negro;
  text-align: center;
  padding: 3rem;
}

p {
  font-size: 1.8rem;
  color: v.$negro;
  gap: 2rem;
}

h1 {
  font-size: 7rem;
  text-align: center;
  
}

h3 {
  font-size: 2.8rem;
}

.subtitulo {
  padding: 0rem;
  margin: 3rem;
}
.titulo {
  padding: 0;
}
