$fuente_principal: 'Roboto', sans-serif;

// Tamaño de Media Queries
$phone: 375px;
$tablet: 767px;
$desktop: 992px;


//colores

$grisOscuro: #4a4a4e;
$blanco: #fff;
$amarillo: #F9A41B;
$negro: #000;
$verde: #48B749;
$azul: #1C75BC;
$rosa: #EC008C;
$celeste: #C4E9FB;
$grisClaro: #F3F4F4;